In [3]:
from btopt.log_config import logger

logger.info("Initialized YourClass with parameter")

In [1]:
import yfinance as yf

In [2]:
yf.download("AAPL")

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099058,469033600
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093890,175884800
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086999,105728000
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089152,86441600
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091737,73449600
...,...,...,...,...,...,...
2024-07-29,216.960007,219.300003,215.750000,218.240005,218.240005,36311800
2024-07-30,219.190002,220.330002,216.119995,218.800003,218.800003,41643800
2024-07-31,221.440002,223.820007,220.630005,222.080002,222.080002,50036300
2024-08-01,224.369995,224.479996,217.020004,218.360001,218.360001,62501000
2024-08-02,219.149994,225.600006,217.710007,219.860001,219.860001,98480100