In [1]:
from btopt.data.dataloader import CSVDataLoader
from btopt.engine import Engine

In [2]:
# Load data for multiple symbols and timeframes
symbols = ["MAUD", "MEUR", "EURUSD"]
timeframes = ["1m", "5m", "15m", "1h", "4h", "1d"]

# Initialize CSVDataLoader
csv_loader = CSVDataLoader(
    symbols,
    "1m",
    start_date="2022-01-01",
    end_date="2022-12-31",
)

print(csv_loader.tickers)

engine = Engine()
engine.add_data(csv_loader)

dict_keys(['MAUD', 'MEUR', 'EURUSD'])
Data updated for MAUD at 1m timeframe.
Data updated for MEUR at 1m timeframe.
Data updated for EURUSD at 1m timeframe.
Added data for 3 symbols.

In [3]:
engine._dataview.master_timeline

In [4]:
csv_loader_1d = CSVDataLoader(
    symbols,
    "1m",
    start_date="2021-01-01",
    end_date="2023-12-31",
)

engine.resample_data(csv_loader_1d, "1d")

Data updated for MAUD at 1d timeframe.
Data resampled and added for MAUD from 1m to 1d timeframe.
Data updated for MEUR at 1d timeframe.
Data resampled and added for MEUR from 1m to 1d timeframe.
Data updated for EURUSD at 1d timeframe.
Data resampled and added for EURUSD from 1m to 1d timeframe.
Resampled data for 3 symbols to 1d.

In [5]:
csv_loader_1d.dataframes.values()

dict_values([                       open    high     low   close  volume
time
2021-01-03 23:00:00  0.7680  0.7711  0.7680  0.7700      70
2021-01-03 23:01:00  0.7700  0.7702  0.7698  0.7699      45
2021-01-03 23:02:00  0.7698  0.7699  0.7696  0.7699      69
2021-01-03 23:03:00  0.7699  0.7702  0.7699  0.7700      17
2021-01-03 23:04:00  0.7700  0.7700  0.7698  0.7700      17
...                     ...     ...     ...     ...     ...
2023-12-29 21:55:00  0.6827  0.6828  0.6827  0.6827       3
2023-12-29 21:56:00  0.6826  0.6826  0.6826  0.6826      39
2023-12-29 21:57:00  0.6826  0.6826  0.6826  0.6826      10
2023-12-29 21:58:00  0.6827  0.6827  0.6827  0.6827       1
2023-12-29 21:59:00  0.6826  0.6828  0.6826  0.6826      11

[919502 rows x 5 columns],                        open    high     low   close  volume
time
2021-01-03 23:00:00  1.2253  1.2263  1.2234  1.2254     310
2021-01-03 23:01:00  1.2252  1.2253  1.2251  1.2252      54
2021-01-03 23:02:00  1.2251  1.2252  1.2250  1.2252      47
2021-01-03 23:03:00  1.2252  1.2254  1.2250  1.2252      65
2021-01-03 23:04:00  1.2253  1.2253  1.2252  1.2252      48
...                     ...     ...     ...     ...     ...
2023-12-29 21:55:00  1.1073  1.1074  1.1073  1.1074      10
2023-12-29 21:56:00  1.1073  1.1073  1.1072  1.1072      10
2023-12-29 21:57:00  1.1072  1.1072  1.1072  1.1072       9
2023-12-29 21:58:00  1.1072  1.1073  1.1071  1.1071      13
2023-12-29 21:59:00  1.1071  1.1071  1.1070  1.1071      33

[1136862 rows x 5 columns],                        open    high     low   close  volume
time
2021-01-01 00:00:00  1.2215  1.2215  1.2215  1.2215     0.0
2021-01-01 00:01:00  1.2215  1.2215  1.2215  1.2215     0.0
2021-01-01 00:02:00  1.2215  1.2215  1.2215  1.2215     0.0
2021-01-01 00:03:00  1.2215  1.2215  1.2215  1.2215     0.0
2021-01-01 00:04:00  1.2215  1.2215  1.2215  1.2215     0.0
...                     ...     ...     ...     ...     ...
2023-12-31 23:56:00  1.1037  1.1037  1.1037  1.1037     0.0
2023-12-31 23:57:00  1.1037  1.1037  1.1037  1.1037     0.0
2023-12-31 23:58:00  1.1037  1.1037  1.1037  1.1037     0.0
2023-12-31 23:59:00  1.1037  1.1037  1.1037  1.1037     0.0
2024-01-01 00:00:00  1.1037  1.1037  1.1037  1.1037     0.0

[1102104 rows x 5 columns]])

In [8]:
engine._dataview.master_timeline

DatetimeIndex(['2022-01-02 22:00:00', '2022-01-02 22:01:00',
               '2022-01-02 22:02:00', '2022-01-02 22:03:00',
               '2022-01-02 22:04:00', '2022-01-02 22:05:00',
               '2022-01-02 22:06:00', '2022-01-02 22:07:00',
               '2022-01-02 22:08:00', '2022-01-02 22:09:00',
               ...
               '2022-12-30 21:50:00', '2022-12-30 21:51:00',
               '2022-12-30 21:52:00', '2022-12-30 21:53:00',
               '2022-12-30 21:54:00', '2022-12-30 21:55:00',
               '2022-12-30 21:56:00', '2022-12-30 21:57:00',
               '2022-12-30 21:58:00', '2022-12-30 21:59:00'],
              dtype='datetime64[ns]', length=375558, freq=None)

In [7]:
engine._dataview.align_all_data()

All data aligned to master timeline.